.addEventModal {
    display: block;

    .dateForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        gap: 1rem;

        .dateInputs {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
        }

        .dateFormBtns {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            gap: 0.5rem;
        }
    }
}
