.viewEventModal {
    display: block;

    .eventDetails {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .eventTitle {
            text-align: center;
            font-size: 1.25rem;
            font-weight: 600;
        }

        .eventDescription {
            text-align: center;
            font-size: 0.8rem;
        }

        .eventDates {
            display: flex;
            justify-content: center;
            gap: 0.5rem;
            align-items: center;
            margin-top: 1rem;
        }
    }
}
