.leftSidebar {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;

    .createBtn {
        padding-block: 0.8rem;
        font-size: 1.1rem;
        border-radius: 2rem;
    }
}

.rightSidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}
